version: 0.0.{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
image: Previous Visual Studio 2017
init:
- cmd: git config --global core.autocrlf true
nuget:
  project_feed: true
environment:
  sonarcloudtoken:
    secure: JA/uVC3EvWgRnDuc5anaS1PMfRCxGNme+jAUP8x4W9qOKp+yhQWnn2gSlTvESn7y
  github_auth_token:
    secure: 9FVpjy/unBuNEqqtSVA1IAtuYhJr5MI0Gt03rkH4cqcQYQgFzXwac2b85z4MSH9E
before_build:
  - dotnet --version
  - dotnet restore
  - choco install "msbuild-sonarqube-runner" -y
build_script:
  - ps: |
      if ($env:APPVEYOR_PULL_REQUEST_NUMBER) {
        SonarScanner.MSBuild.exe begin /k:"GitObjectDb" /v:"$ENV:APPVEYOR_BUILD_NUMBER" /d:sonar.organization="frblondin-github" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.login="$ENV:sonarcloudtoken" /d:sonar.cs.opencover.reportsPaths="$ENV:CD\TestResults\coverage.opencover.xml" /d:sonar.analysis.mode="preview" /d:sonar.github.pullRequest="$env:APPVEYOR_PULL_REQUEST_NUMBER" /d:sonar.github.repository="$ENV:APPVEYOR_REPO_NAME" /d:"sonar.github.oauth=$ENV:github_auth_token" /d:sonar.pullrequest.base="$ENV:APPVEYOR_REPO_BRANCH" /d:sonar.pullrequest.branch="$ENV:APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH" /d:sonar.pullrequest.key="$ENV:APPVEYOR_PULL_REQUEST_NUMBER" /d:sonar.pullrequest.provider="github" /d:sonar.pullrequest.github.repository="$ENV:APPVEYOR_REPO_NAME" /d:sonar.pullrequest.github.endpoint="https://api.github.com/"
      } Else {
        SonarScanner.MSBuild.exe begin /k:"GitObjectDb" /v:"$ENV:APPVEYOR_BUILD_NUMBER" /d:sonar.organization="frblondin-github" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.login="$ENV:sonarcloudtoken" /d:sonar.cs.opencover.reportsPaths="$ENV:CD\TestResults\coverage.opencover.xml"
      }
  - dotnet build GitObjectDb.sln --configuration Release /p:SourceLinkCreate=true /p:IncludeSymbols=true /p:IncludeSource=true /v:n
  - dotnet test GitObjectDb.Tests\GitObjectDb.Tests.csproj --logger "trx;LogFileName=..\..\TestResults\TestResults.trx" /p:CollectCoverage=true --no-build --configuration Release /p:CoverletOutput=../TestResults/coverage.opencover.xml /p:CoverletOutputFormat=opencover
  - SonarScanner.MSBuild.exe end /d:"sonar.login=%sonarcloudtoken%"
  - ps: |
      if (-Not $env:APPVEYOR_PULL_REQUEST_NUMBER) {
        dotnet pack GitObjectDb --no-build --configuration Release /p:Version="$ENV:APPVEYOR_BUILD_VERSION" -o ..\Artifacts --include-symbols --include-source
        Get-ChildItem Artifacts\*.nupkg | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
      }
deploy:
  provider: GitHub
  tag: $(appveyor_build_version)
  release: GitObjectDb v$(appveyor_build_version)
  description: ''
  auth_token:
    secure: PSEMQITxvJW1J/gjkbgXmr9W0GWEtqHkaHjPHKwShuUL4OJiqC+o9ExosP0z3mjc # your encrypted token from GitHub
  artifact: /.*\.nupkg/            # upload all NuGet packages to release assets
  draft: false
  prerelease: false
  on:
    branch: master                 # release from master branch only
